<h1>Sign In</h1>

<%= form_for @conn, session_path(@conn, :create), [as: :credentials], fn f -> %>
  <div class="form-group">
    <%= label f, :email, class: "control-label" %>
    <%= email_input f, :email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, :password, class: "control-label" %>
    <%= password_input f, :password, class: "form-control" %>
    <%= error_tag f, :password %>
  </div>

  <div class="form-group">
    <%= submit "Sign in", class: "btn btn-primary" %>
  </div>
<% end %>
