<h2>Show Task</h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @task.description %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @task.status %>
  </li>

</ul>

<span><%= link "Edit", to: task_path(@conn, :edit, @task) %></span>
<span><%= link "Back", to: task_path(@conn, :index) %></span>
