/* This file is for your main application css. */
/* Body*/
body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size:16px;
}

.margin {
    margin-bottom: 45px;
}

/* Header */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 3px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
} 

/* Footer */
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #2f2f2f;
}

.container-fluid {
    margin-top: 70px;
    margin-bottom: 70px;
}

/* landpage */
.logo {
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

/* Board */
.pannel {
    border: 1px solid #666666;
}   

#col-todo.pannel { 
    background-color: rgba(255,204,204,1);
}

#col-doing.pannel { 
    background-color: rgba(255,227,204,1);
}

#col-done.pannel { 
    background-color: rgba(180,224,180,1);
}

.task-list {
    min-height: 150px;
}
.outcome {
    min-height: 150px;
    margin: 5px;
    border: 1px solid #666666;
    background-color: #bbbbbb;
    cursor: move;
    text-align: center;
}
.task {
    margin: 5px;
    border: 1px solid #666666;
    background-color: #dddddd;
    cursor: move;
    text-align: center;
}
