<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>tododo</h2>
      <p>
        tododo is a task manager application that focus on simplicity, effectiveness and 
        efficiency.
      </p>
      <p>
        Sign up to start using it.
      </p>
      <%= render TododohtmlWeb.UserView, "form.html", Map.put(assigns, :action, user_path(@conn, :create)) %>
      <!-- span><%= link "Sign up", to: user_path(@conn, :new) %></span -->
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-th-list logo"></span>
    </div>
  </div>
</div>
