<h2>Tododo Board</h2>

<div class="row">
  <div id="col-todo" class="col-sm-4 pannel">
    <h3>To do</h3>
    <button class="btn btn-default btn-sm" onclick='show_form("new-outcome")'>
      <span class="glyphicon glyphicon-plus"></span> outcome 
    </button>
    <div id="new-outcome" style="display:none;">
      <%= form_for @conn, task_path(@conn, :create) , fn f -> %>
        <div class="form-group">
          <%= label f, :description, class: "control-label" %>
          <%= text_input f, :description, class: "form-control" %>
          <%= error_tag f, :description %>
        </div>

        <div class="form-group">
          <%= submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div id="todo" class="task-list"  ondrop="drop(event, this)" ondragover="allowDrop(event)">
      <%= for task <- @board.tasks do %>
        <div id="<%= task.id %>" class="outcome">
          <%= task.description %>
        
          <button class="btn btn-default btn-sm" onclick='show_form("new-task-<%= task.id %>")'>
            <span class="glyphicon glyphicon-plus"></span> task 
          </button>
          <div id="new-task-<%= task.id %>" style="display:none;">
            <%= form_for @conn, task_subtask_path(@conn, :create, task), [method: "post"], fn f -> %>
              <div class="form-group">
                <%= label f, :description, class: "control-label" %>
                <%= text_input f, :description, class: "form-control" %>
                <%= error_tag f, :description %>
              </div>

              <div class="form-group">
                <%= submit "Submit", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>


          <%= for subtask <- task.tasks do %>
            <div id="<%= subtask.id %>" class="task <%= subtask.status %>" draggable="true" ondragstart="drag(event)">
              <%= subtask.description %>
            </div>
          <% end %>
        
        </div>
      <% end %>
    </div>
  </div>
  
  <div id="col-doing" class="col-sm-4 pannel">
    <h3>Doing</h3>
    <div id="doing" class="task-list" ondrop="drop(event, this)" ondragover="allowDrop(event)">
    </div>
  </div>
  
  <div id="col-done" class="col-sm-4 pannel">
    <h3>Done</h3>
    <div id="done" class="task-list" ondrop="drop(event, this)" ondragover="allowDrop(event)">
    </div>
  </div>
</div>

<script type="text/javascript">
  window.csrf_token = <%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
  body_elements = document.getElementsByTagName("body");
  body_elements[0].onload = function() {
    board = require("js/app").Board
    board.sort_task_list(["doing", "done"]);
    window.show_form = require("js/app").show_form
    window.drag = require("js/app").drag
    window.drop = require("js/app").drop
    window.allowDrop = require("js/app").allowDrop
  };
</script>

